{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Login</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
    <link href="{% static 'css/carousel.css' %}" rel="stylesheet">


    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static 'css/assets/js/ie-emulation-modes-warning.js' %}"></script>

        <script src="{% static 'jquery/jquery.min.js' %}"></script>
        <script src="{% static 'md5/md5.min.js' %}"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>


    <div class="container">
      <form class="form-signin" role="form" id = "login-form">
                {% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        <input class="form-control" placeholder="username" name="account" required autofocus>
        <input type="password" class="form-control" placeholder="Password" name="password_display" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="signin-button">Sign in</button>

      </form>
        <!-- <button class="btn btn-lg btn-primary btn-block" type="submit" id="signin-button">Sign up</button> -->
        <a href = "https://github.com/login/oauth/authorize?scope=user:email&client_id={{ cli_id }}&response_type=code">
              <button class="btn btn-lg btn-primary btn-block">login with GitHub</button>
        </a>
    </div> <!-- /container -->




    <script src="{% static 'css/dist/js/bootstrap.min.js' %}"></script>
      <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
      <script src="{% static 'css/assets/js/docs.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'css/assets/js/ie10-viewport-bug-workaround.js' %}"></script>
  </body>
</html>
